In [6]:

import pandas as pd
a = {
    "age": ["<=30", "<=30", "31...40", ">40", ">40", ">40", "31...40", "<=30", "<=30", ">40", "<=30","31...40","31...40",">40"],
     "income": ["high", "high", "high", "medium", "low", "low", "low", "medium", "low", "medium", "medium", "medium", "high", "medium"],
     "student": ["no", "no", "no", "no","yes","yes","yes", "no", "yes","yes","yes", "no", "yes","no"],
     "credit rating": ["fair", "excellent", "fair", "fair", "fair", "excellent", "excellent", "fair", "fair","fair","excellent", "excellent","fair","excellent"],
    "contentment": ["no", "no", "yes", "yes", "yes", "no", "yes", "no", "yes", "yes", "yes", "yes", "yes", "no"]
}

target = "satisfied"
exclude = []

df = pd.DataFrame(a)
df

        age  income student credit rating contentment
0      <=30    high      no          fair          no
1      <=30    high      no     excellent          no
2   31...40    high      no          fair         yes
3       >40  medium      no          fair         yes
4       >40     low     yes          fair         yes
5       >40     low     yes     excellent          no
6   31...40     low     yes     excellent         yes
7      <=30  medium      no          fair          no
8      <=30     low     yes          fair         yes
9       >40  medium     yes          fair         yes
10     <=30  medium     yes     excellent         yes
11  31...40  medium      no     excellent         yes
12  31...40    high     yes          fair         yes
13      >40  medium      no     excellent          no